<div class="container-fluid">
  <div class="row">
    <div class="well">
      <%= form_tag sessions_path, method: 'post' do %>
        <%= label_tag :full_name, "Full Name" %>
        <%= text_field_tag :full_name %>
        <br>
        <br>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <br>
        <br>
        <%= submit_tag 'Sign in', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>