<div class="well">
<%= form_for @pub, html: {class: 'form-horizontal', role: 'form'} do |f| %>
  <div class="form-group">
    <%= f.label :title, "Title", class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :url, "PDF url", class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :url, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content, "Abstract", class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_area :content, rows: 5, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Upload Pub!", class: "btn btn-default" %>
    </div>
  </div>
<% end %>
</div>